@media screen and (min-width: 1199px) {
    .container {
    width: 1128px;
   
    }

    /*=========================HEADER======================*/
    
    .contact-email,
    .contact-phone-number {
    color: var(--primary-text-color);
    font-style: normal;
    transition: color 250ms var(--transition);
    }

    .block-address {
        display: flex;
    }

/*==================WORK PRINCIPLES===========================*/

    .section-work-prin {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .block-work {
        background-color: var(--color-cloud);
        width: 264px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    .page-container-work {
        flex-wrap: nowrap;
        column-gap: 24px;
        
    }
    
    
/*=======================WHAT DOING=====================*/
/*========================OUR TEAM======================*/

.cards-doing {
    align-items: baseline;
}

.bgr-our-team {
    padding: 120px 0px;
}
.page-our-team,
.customers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
.page-our-team > .card-our-team {
    flex-basis: calc((100% - 72px) / 4);
}

.section-customers {
    padding: 130px 0 120px 0;
}

}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), 
screen and (min-resolution: 192dpi) and (min-width: 1200px), 
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/img-mobile/people-office-mobile@2x.jpg');
    }
}