@media screen and (min-width: 480px) {
    .container {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    }
}

.page-container {
    justify-content: space-between;
}

.page-hero {
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
    width: 320px;
}

.section-work-prin {
    padding-top: 96px;
    padding-bottom: 96px;
}

.page-work-prin .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}
.card {
    margin-bottom: 72px;
}
.card:last-child {
    margin-bottom: 0;
}

.section-work-prin {
    padding-top: 96px;
    padding-bottom: 96px;
}


@media screen and (max-width: 767px) {
    .address {
    display: none;
}
    .menu-link {
    display: none;
}

.contact-email,
.contact-phone-number {
    display: none;
}

.block-work {
    display: none;
}


}

/*====================HEADER======================*/

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

/*==================MOBILE MENU===================*/

.page-mobile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--primary-color-white);
    z-index: 1000;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-copnflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms var(--transition);
    cursor: pointer;
}

.mobile-close-btn-icon {
    transition: fill 250ms var(--transition)
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
    background-color: var(--color-ocean);
}

.mobile-close-btn:hover .mobile-close-btn-icon,
.mobile-close-btn:focus .mobile-close-btn-icon {
    fill: var(--primary-color-white);
}

.mobile-menu-link,
.mobile-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-navy-blue);
    text-transform: capitalize;
}

.mobile-phone {
    color: var(--color-iris);
    font-style: normal;
}
.mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color-slate);
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-container {
    position: relative;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.mobile-menu-list {
    margin-bottom: 284px;
}

.mobile-menu-menu {
    margin-top: auto;
    
}
.mobile-contacts {
margin-bottom: 48px;
}
.mobile-list-link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-iris);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--transition);
}

.mobile-list-link:hover,
.mobile-list-link:hover {
    background-color: var(--color-ocean);
}

.mobile-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
    }


/*====================HERO========================*/
/*==================WORK PRINCIPLES===========================*/





